<div class="comment-form">
    <%= form_for comment do |f| %>
      <div class="field">
        <%= f.text_area :body, :placeholder => "Add a comment" %>
        <%= f.hidden_field :commentable_id, value: comment.commentable_id %>
        <%= f.hidden_field :commentable_type, value: comment.commentable_type %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
</div>