      <span><%= @user.fullname %></span><br />
      <span>From <%= @user.city %>, <%= @user.state %></span><br />
      <span>Bio: <%= @user.bio %></span><br />

      <% @user.posts.in_groups_of(3, false).each do |group| %>
      <div class='row'>
      	<% group.each do |post| %>
      	<div class='col-md-4 center content_box'>
      		<h3><%= link_to post.title, post_path(post), class: 'post_title' %></h3>
      		<div class='image_wrapper'>
      			<%= link_to image_tag(post.image.url(:large)), post_path(post), class: "gallery_image" %>
      		</div>
      		<div class='content-text'>
      			<%= link_to "By " + post.user.fullname, post_path(post), class: 'artist_name' %>
      			<% if post.content_md != nil %>
      			<div class='center'><%= sanitize(post.content_md) %></div>
      			<% end %>
                        <div class='comments'>
                        <%= link_to image_tag('comments.png') + post.comment_threads.count.to_s, post, class: 'center' %></div>

		<p class='center'>Patrons:
			<%= post.netvotes %>
                  <% if current_user && (current_user.voted_up_on? post) %>
                        <%= link_to '▲', unlike_post_path(post), :class => 'unvote', method: :put %>
                  <% else %>
                        <%= link_to '▲', like_post_path(post), :class => 'upvote', method: :put %>
                  <% end %>
		</p>
	</div>
</div>
<% end %>
</div>
<% end %>